html, body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    box-sizing: border-box;
    color: white;
}
html {
    -webkit-tap-highlight-color:rgba(0,0,0,0) ;
}

a {
    text-decoration: none;
    color: white;
}
img {
    object-fit: fill ;
}
.footer_home{
    display: grid;
}
.footer_home > div > a > img {
    width: 100%;
}


@media (min-width: 799px) {
    .footer_home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 799px) and (min-width: 640px) {
    .footer_home {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 639px) {
    .footer_home {
        grid-template-columns: 1fr 1fr ;
    }
}
