
@media (min-width: 1024px) {
    .dropdown {
        background-color: aqua;
        width: 33em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        position: relative;
        left : 100px;
        /*margin: 0 auto;*/
    }
    .dropdown > * {
        padding-top: 1em;
    }
}
@media (max-width: 1023px) {
    .dropdown {
        background-color: aqua;
        width: 33em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        position: relative;
        left : 100px;
        /*margin: 0 auto;*/
    }
    .dropdown > * {
        padding-top: 1em;
    }
}
