
@media (min-width: 1024px) {
    .dropdown {
        background-color: black;
        width: 33em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        position: relative;
        left : 100px;
        /*margin: 0 auto;*/
    }
    .dropdown > * {
        padding-top: 1em;
    }
    .dropdown >* > a {
        color: white;
    }
}
@media (max-width: 1023px) {
    .dropdown {
        width: 20em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        position: relative;
        left : -2.5em;
        gap: 0.3em;
        box-shadow: #999;
        background-color: rgba(0,0,0,.8);

        /*overflow-y: auto;*/
        /*margin: 0 auto;*/

    }

    .dropdown > * {
        padding-top: 0.5em;
        /*width: 1em;*/
    }
    .dropdown > * >a{
        color: #0285b5;
        font-weight: bolder;
    }
}
