.nav_all {
    display: grid;
    grid-template-columns: 150px 1fr 300px 100px;
    border: 1px black solid;
    padding-bottom: -2em;
}

.navbar_display {
    list-style: none;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    background-color: antiquewhite;
}
.nav_branch {
    /*display: flex;*/
    /*justify-items: center;*/
    /*justify-content: center;*/
    background-color: green;
}

.nav_item {

}
.nav_item >div>svg {
    position: relative;
    top: 3px;
    left: 5px;
}

.nav_icon {
    padding-top: 1em;
    width: 150px;

}
.nav_icon > img {
    width: 100px;
    padding: 0;
}
.nav_icon > svg {
    width: 50px;
    padding: 0;
    background-color: aquamarine;

}

.nav_search {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 10px 1fr 20px;
    border: 1px solid black;
    border-radius: 1em;
    /*padding: 0.2em;*/
    /*background-color: aqua;*/
}

.nav_search > input {
    border: none;
    /*outline-width: 0;*/

}
.nav_search > input:focus {
    outline-width: 0;
    /*On firefox the outline-width will stay*/
    border: none;
    /*background-color: blue;*/
}
.nav_search > svg {
    position: relative;
    right: 1em;
}

