.nav_wrapper {
    /*use this to make long background padding color*/
    position: fixed;
    top: 0;
    /*left: 15%;*/
    z-index: 100;
    background-color: #333;
    width: 100%;
    padding: 0;
    /*padding-left: 30vw;*/
    /*margin-left: -30vw;*/
    /*padding-right: 30vw;*/
    /*margin-right: -30vw;*/
    margin: 0 -9999rem;
    /* add back section padding value */
    padding: .25rem 9999rem;
}
.nav_all {
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    /*background-color: #5e5656;*/
    padding-bottom: 1em;

    /**/
}

.nav_branch {
    padding-left: 2em;
    background-color: #5e5656;
}


.nav_item:hover {
    cursor: pointer;

}
.nav_item >div>svg {
    position: relative;
    top: 3px;
    left: -2px;
}

.nav_icon {
    padding-top: 1em;
    /*width: 150px;*/
    margin-left: 2em;
    cursor: pointer;

}
.nav_icon > img {
    width: 100px;
    scale: 1.5;
    /*on >1024 screen will go to middle*/
    padding: 0;
}
.nav_icon > svg {
    display: none;
    /*Hide svg icon on >1024px screen*/
    padding: 0;

}

.nav_search {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 10px 1fr 20px;
    border: 1px solid black;
    border-radius: 1em;
    background-color: #333;

}

.nav_search > input {
    border: none;
    background-color: #333;
    padding: 0.5em;
}
.nav_search > input:focus {
    outline-width: 0;
    /*On firefox the outline-width will stay*/
    border: none;
    color: white;
}
.nav_search > svg {
    position: relative;
    top: 2px;
    right: 1em;

}

.nav_social {
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    gap: 2em;

}
.nav_social>svg {
    scale: 2;
}
.navbar_display {
    list-style: none;
}


@media (min-width: 1024px){
    .nav_item >div>span >svg {
        display: none;
    }
    .nav_icon {
        margin-left: 2em;
    }
    .nav_all {

        margin: 0 auto;
        width: 1000px;
        display: grid;
        grid-template-columns: 120px 1fr 70px;
        /*padding-bottom: -2em;*/

    }

    .sidebar {
        display: grid;
        grid-template-columns: 10fr 1fr;

    }
    .sidebar_mobile {
        display: none;
    }

    .navbar_display {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .side_exit {
       display: none;
    }
}

@media (max-width: 1023px){
    .nav_all {

        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        /*padding-bottom: -2em;*/
        /*background-color: #3c2f2f;*/
    }
    .navbar_display {
        display: grid;
        gap: 1em;
    }
    .nav_search {
        /*display: none;*/
        /*width: 10em;*/
        background-color: #3c2f2f;
    }

    .nav_icon {
        display: flex;
    }
    .nav_icon > svg {
        display: block;
        /*Hide svg icon on >1024px screen*/
        width: 100px;
        scale: 1.5;
        padding: 0;

    }
    .nav_item > div:first-child {
        display: flex;
        gap: 3em;
    }

    .nav_item   {
        display: grid;
        grid-template-rows: 2fr;
        gap: 1em;
    }
    .nav_item >div > a {
        color: #0285b5;
    }
    .nav_icon > img {
        width: 100px;
        /*on >1024 screen will go to middle*/
        padding: 0;
    }
    .sidebar {
        position: fixed;
        top: 0;
        padding-top: 5em;
        left: 0.1em;
        width: 22em;
        background-color: rgba(0,0,0,.8);
        opacity: 90%;
        z-index: 100;
        overflow-y: scroll;
        overflow-x: hidden;
        color: #0285b5;
        /*display: grid;*/
    /*    in state, grid/none */
    }
    .sidebar_mobile {
        order: 0;
        width: 20em;
        margin-left: 2em;
        display: grid;
        grid-template-columns: 17em auto;
        scale: 1.2;
        position: relative;
        top: -2em;
    }
    .sidebar_mobile > img {
        width: 100px;
        /*on >1024 screen will go to middle*/
        padding: 0;
    }
    .side_list {
        order: 2;
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 10vh;
    /*    for scrolling mobile/tablet sidebar*/
    }
    .side_search {
        order: 1;
        padding: 1em;
    }
    .side_exit {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top:0;
        bot: 0;
        left: 22em;
        z-index: 100;
        order: 3;
    /*    click out to close*/
    }
}
