.wrapper_grid {
    display: grid;
    background-color: green;
    margin: 0 auto;

}

.video {
    grid-area: video;
    width: 100%;
}
.description {
    grid-area: description;

}

.sideRight {
    grid-area: sideRight;

}

.bottom {
    grid-area: bottom_area;

}

@media (min-width: 1024px) {
    .wrapper_grid {
        grid-template-areas: 'video sideRight' 'description sideRight' 'bottom_area bottom_area' ;
        width: clamp(750px,80%,1024px);
        grid-template-columns: 3fr 2fr;
        gap: 1em;
    }
}

@media (min-width: 768px) and ( max-width: 1023px) {
    .wrapper_grid {
        grid-template-areas: 'video video' 'description sideRight' 'bottom_area bottom_area' ;
        width: 100vw ;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    /*.video {*/
    /*    grid-area: video;*/
    /*    width: 100%;*/
    /*}*/
}
@media ( max-width: 767px) {
    /*change from this*/
    .wrapper_grid {
        grid-template-areas: 'video' 'description' 'sideRight' 'bottom_area' ;
        width: 100vw;
        grid-template-columns:  1fr;
        gap: 1em;
    }

}
